
body {
    background-color: #f3f3f3;
}

.card-columns {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

form input:focus {
    border-color: #0088cc;
}


/*******************/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/**/
.m1 {
    border: 3px dashed red;
}
.m2 {
    border: 2px dashed #3498db;
}
.m3 {
    border: 1px dashed green;
}

.about {
    float: left;
    width: 100%;
    min-height: 20px;
    margin-bottom: 10px;
}

.filter-container {
    float: left;
    width: 20%;
}
.filter-container .someinfo {
    min-height: 55px;
    margin-bottom: 5px;
}
.filter-layout .field {
    margin-left: 20px;
}

.products-container {
    float: right;
    width: 78%;
    margin-right: 15px;

}
.products-container .info-layout {
    min-height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#sorting {
    padding-left: 20px;
}



