/*.marker1 {
    border: 2px solid red;
}
.marker2 {
    border: 1px dashed #3498db;
}
.marker3 {
    border: 2px solid green;
}*/

.filters-col {
    position: relative;
    width: 100%;
    margin-top: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
}
.mt-2 {
    margin-top: 4vh !important;
}

